{{- define "education" -}}
{{ if (gt (len .Education) 0) }}
## Education
{{ range .Education }}
**{{ .Institution }}** - *{{ .StudyType }} - {{ .Area }}*, {{ .StartDate }} - {{ .EndDate }}
{{ end }}
{{ end }}
{{- end -}}
