{{- define "main" -}}
{{ template "basics" . }}
----

{{ template "work" . }}
{{ template "skills" . }}
{{ template "education" . }}
{{ template "volunteer" . }}
{{ template "projects" . }}
{{ template "languages" . }}
{{ template "interests" . }}
{{ template "publications" . }}
{{ template "certifications" . }}
{{ template "research" . }}
{{ template "courses" . }}
{{- end -}}
