{{- define "publications" -}}
{{ if (gt (len .Publications) 0) }}
## Publications & Presentations
{{ range .Publications }}
**{{ .Name }}, {{ .ReleaseDate }}.**, {{ .Publisher }}, {{ .Authors }}, {{ .Website }}
{{ end }}
{{ end }}
{{- end -}}
